# Base de datos
DATABASE_URL=postgresql://usuario:contraseña@host:puerto/nombre_db

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=tu_secret_super_seguro_aqui

# Otras variables que puedas necesitar
NODE_ENV=production
